<div class="popupContainer">
    <div class="newRoom">
        <span>Ссылка на вашу комнату</span>
        <div class="meetCodeWrapper">
            <span class="meetCode"><%=key%></span>
            <span class="copy"></span>
        </div>
    </div>
    <div class="joinRoom">
        <span>Присоединиться к комнате</span>
        <input type="text" placeholder="Введите код встречи"/>
        <div class="vcrButton primaryButton">Войти</div>
    </div>
</div>