<header>
    <!--TODO add user video reference && video for connected users-->
</header>
<main>
    <div class="content">
        <!--TODO add panel with tools to draw with, eraser etc-->
        <!--TODO add canvas-->
    </div>
    <aside>
        <div class="connectedUserCollectionView"></div>
        <div class="chatCollectionView"></div>
    </aside>
</main>
<div class="connectView"></div>