<h3>chatCollectionView</h3>
<div class="chatCollectionList">

</div>
<form class='chatCollectionActions' action="#">
    <label>
        <textarea></textarea>
    </label>
    <input type="submit" value="Отправить"/>
</form>