$font-size: 14px;
$main-font: Verdana, sans-serif;
$icon-font: "videochatdemo";
$min-width: xs;
$max-width: xl;
$desktop-breakpoint: lg;

$grid-breakpoints: (
        xs: 320px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);