@import "./components/imports/_colors";
@import "./components/imports/_variables";
.webRtcDemo {
  font: $font-size $main-font;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  header {
    width: 100%;
    flex-basis: 10em;
    min-height: 7em;
    border-bottom: 1px solid $grey;
  }
  main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    aside {
      flex-basis: 20%;
      min-width: 20em;
      border-left: 1px solid $grey;
      height: 100%;
      display: flex;
      flex-direction: column;
      .connectedUserCollectionView {
        flex-grow: 1;
      }

      .chatCollectionView {
        flex-grow: 1;
      }
    }
    .content {
      width: 100%;
      height: 100%;
    }
  }
}